<div id="left" class="column">

&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.munterbund.de" class="wichtig">munterbund.de</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="essay.php">english</a> <br /><br />

<ul>
<li><a href="artikel.php">Einleitung</a></li>
<li><a href="konzept.php" class="wichtig">A Konzept</a></li>
  <ul>
<li><a href="konzept.php#Problembeschreibung">Problembeschreibung</a></li>
<li><a href="konzept.php#Visualisierungsgrundlage">Visualisierungsgrundlage</a></li>
<li><a href="konzept.php#AnsaetzederDatenauswahl">Ansätze der Datenauswahl</a></li>
    <ul>
<li><a href="konzept.php#Stichworte">Stichworte</a></li>
<li><a href="konzept.php#Metadaten">Metadaten</a></li>
<li><a href="konzept.php#StatistischeDaten">Statistische Daten</a></li>
<li><a href="konzept.php#StrukturelleDaten">Strukturelle Daten</a></li>
    </ul>
<li><a href="konzept.php#AuswahlimspeziellenFall">Auswahl im speziellen Fall</a></li>
  </ul>
<li><a href="produktion.php" class="wichtig">B Produktion</a></li>
  <ul>
<li><a href="produktion.php#Implementierungskriterien">Implementierungskriterien</a></li>
<li><a href="produktion.php#Generierungsprozess">Generierungsprozess</a></li>
<li><a href="produktion.php#InhaltlicheEbenenderGrafik">Inhaltliche Ebenen der Grafik</a></li>
    <ul>
<li><a href="produktion.php#Hintergrund">Hintergrund</a></li>
<li><a href="produktion.php#Barcode-Struktur">Barcode-Struktur</a></li>
<li><a href="produktion.php#Wortkreise">Wortkreise</a></li>
    </ul>
  </ul>
<li><a href="produktion.php#Zusammenfassung">Zusammenfassung</a></li>
<li><a href="autoren.php">Die Autoren</a></li>
<li><a href="beispiele.php" class="wichtig">C Bildbeispiele</a></li>
  <ul>
<li><a href="beispiele.php#FrueheStadienderVisualisierung">Frühe Stadien der Visualisierung</a></li>
<li><a href="beispiele.php#BeispieleEndergebnis">Beispiele Endergebnis</a></li>
  </ul>
</ul>

</div>
