<div id="left" class="column">
  
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.munterbund.de" class="wichtig">munterbund.de</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="artikel.php">deutsch</a> <br /><br />

<ul>
<li><a href="essay.php#Introduction">Introduction</a></li>
<li><a href="concepts.php" class="wichtig">A Concepts</a></li>
  <ul>
<li><a href="concepts.php#Theproblem">The problem</a></li>
<li><a href="concepts.php#Thebasisofvisualization">The basis of visualization</a></li>
<li><a href="concepts.php#Differentwaysofdataselection">Different ways of data selection</a></li>
    <ul>
<li><a href="concepts.php#Keywords">Keywords</a></li>
<li><a href="concepts.php#Metadata">Metadata</a></li>
<li><a href="concepts.php#Statisticaldata">Statistical data</a></li>
<li><a href="concepts.php#Structuraldata">Structural data</a></li>
    </ul>
<li><a href="concepts.php#Dataselectioninthepresentcase">Data selection in the present case</a></li>
  </ul>
<li><a href="production.php" class="wichtig">B Production</a></li>
  <ul>
<li><a href="production.php#Implementationcriteria">Implementation criteria</a></li>
<li><a href="production.php#Generationprocess">Generation process</a></li>
<li><a href="production.php#Graphiclevels">Graphic levels</a></li>
    <ul>
<li><a href="production.php#Background">Background</a></li>
<li><a href="production.php#Barcodestructure">Barcode structure</a></li>
<li><a href="production.php#Wordcircles">Word circles</a></li>
    </ul>
  </ul>
<li><a href="production.php#Summary">Summary</a></li>
<li><a href="authors.php">About the authors</a></li>
<li><a href="sketches.php" class="wichtig">C Sample sketches</a></li>
  <ul>
<li><a href="sketches.php#Earlystagesintheprocess">Early stages in the process</a></li>
<li><a href="sketches.php#Examplesoffinalresults">Examples of final results</a></li>
  </ul>
</ul>

</div>
