/*** The Essential Code ***/

body {
	min-width: 84em;         /* 2 x (LC fullwidth + CC padding) + RC fullwidth */
}

#container {
	padding-left: 18em;      /* LC fullwidth */
	padding-right: 28em;     /* RC fullwidth + CC padding */
}

#container .column {
	position: relative;
	float: left;
}

#center {
	padding: 0em 3em;       /* CC padding */
	width: 100%;
}

#left {
	width: 15em;             /* LC width */
	padding: 0em 1em 0em 2em;          /* LC padding */
	right: 24em;             /* LC fullwidth + CC padding */
	margin-left: -100%;
}

#right {
	width: 18em;             /* RC width */
	padding: 0em 2em;          /* RC padding */
	margin-right: -100%;
}

#footer {
	clear: both;
}

/*** IE Fix ***/
* html #left {
	left: 22em;              /* RC fullwidth */
}

/*** Just for Looks ***/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	background-color: #468;
}

#header, #footer {
	text-align: center;
	padding: 1em;
}

#left {
	background: #468;
}

#center {
	background: #FFF;
}

#right {
	background: #468;
}

#container .column {
	padding-top: 2em;
}

a:link, a:visited {
	color: #16B;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: underline;
}
#left a:link, #left a:visited {
	font-weight: normal;
	color: #ACE;
}
#left a.wichtig {
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0em 0em 0.2em 1em;
}
li {
	padding-bottom: 0.1em;
}
li.wichtig {
	font-weight: bold;
}

p {
 margin: 0em 0em 1em;
}
h3 {
	font-size: 1em;
	margin: 2em 0em 1em;
}
h2 {
	font-size: 1.2em;
	margin: 2em 0em 1em;
	clear: both;
}
h2.anschluss { margin-top: 0.5em; }
h1 {
	font-size: 1.5em;
	margin: 4em 0em 0em;
	clear: both;
}
.fussnote {
	color: #246;
	font-style: italic;
}

.icon {
	border: 0;
}
.textbild {
	float: left;
	margin: 0.5em 2em 1em 0em;
}
.textbild img.bild {
	width: 220px;
	border: 3px solid #aaa;
}
.textbild img.icon {
	vertical-align: bottom;
}
.textbild .bildlegende {
	width: 220px;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	font-size: 0.8em;
}

.grossbild {
	margin: 2.5em 0em 2em 0em;
	text-align: center;
}

.beispielbild {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}
.beispielbild img.bild {
	width: 100px;
	border: 2px solid #ddd;
}
